{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block welcome %}Password change successful{% endblock welcome %}
{% block content %}
<section class="wrapper">
<div class="container-fostrap">
    <div>
        <h1 class="heading" style="color: #000">
            World OF Books
        </h1>
        <h2 class="heading-two">
          Password change successful
          <p>Your password was changed.</p>
        </h2>
    </div>
</div>
</section>
<br><br><br><br>
{% endblock content %}
