{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Forgot Your Password?{% endblock title %}
{% block content %}
<section class="wrapper">
<div class="container-fostrap">
    <div>
        <h1 class="heading" style="color: #000">
            World OF Books
        </h1>
        <br>
        <h2 class="heading-two">
          Forgot your password?
          <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
        </h2>
    </div>
    <br><br><br>
<div id="formWrapper">
<div id="form">
<form method="POST" style="margin-left:30%; margin-top:0;margin-right:30%;margin-bottom:0">{% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
      <button type="submit" class="btn btn-primary">Send me instructions!</button>
  {% endbuttons %}
</form>
</div>
</div>
</div>
</section>
<br><br><br><br><br>
{% endblock content %}
