{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Enter new password{% endblock title %}
{% block content %}
<section class="wrapper">
<div class="container-fostrap">
    <div>
        <h1 class="heading" style="color: #000">
            World OF Books
        </h1>
        <h2 class="heading-two">
          Set a new password!
        </h2>
    </div>
<div id="formWrapper">
<div id="form">
<form method="POST" style="margin-left:30%; margin-top:0;margin-right:30%;margin-bottom:0">{% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
      <button type="submit" class="btn btn-primary">Change my password</button>
  {% endbuttons %}
</form>
</div>
</div>
</div>
</section>
<br><br>
{% endblock content %}
