{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Password reset complete{% endblock title %}
{% block content %}
<br>
<section class="wrapper">
<div class="container-fostrap">
    <div>
        <h1 class="heading" style="color: #000">
            World OF Books
        </h1>
        <br>
        <h2 class="heading-two">
          Password reset complete
          <p>Your new password has been set. You can log in now on the
          <a href="{% url 'login' %}">log in page</a>.</p>
        </h2>
    </div>
    <br>
</div>
</section>
<br><br><br><br><br><br><br><br><br><br>
{% endblock content %}
