<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/24918.jpg" title="world of books" />
    <title>World oF Books</title>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="css/style-books.css">
    <link rel="stylesheet" href="css/style.css">



</head>

<body>

    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <div class="container">
            <div class="logos">
                <img src="img/Letter-W-Free-PNG-Image.png" alt="le" class="potos" style="margin-top: -5px;margin-right: -12px;">
                <a class="navbar-brand" href="#" style="margin-top: -3px;font-weight: bolder;
font-style: oblique;">orld OF Books</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top: -7px;">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="booking.html">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sections.html">sections</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="author.html">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#ccccccc">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="    border: 1px solid #27a289;
    border-radius: 11px;">
                            Login & Reg
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="login.html">Login</a>
                            <a class="dropdown-item" href="Reg.html">Register</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="rol.html">Library Regulations</a>
                        </div>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="ابحث عن كتابك" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
    </nav>
    </div>

    <header>

        <div class="headering">


        </div>
        </div>

    </header>
   <div class="roling">
       <div class="container">
    <h1>اتفاقية الاستخدام</h1>
     <p>
       ما المقصود باتفاقية الاستخدام ؟ 
هى قواعد وقوانين يتم وضعها من قبل ادارة الموقع ومن يخالفها يعرض إضافاته للحذف او حسابه للحظر . 

تعرض المكتبة الكتب pdf لهدف العلم الرجاء عدم استخدام هذه الكتب للربح او للتجارة والحفاظ على الملكية الفكرية لأصحاب الكتب 

الرجاء الالتزام بقواعد الدين السمح والاخلاق الحميدة عند نشر تقييم لأى كتاب 

ممنوع نشر اى مواد تحث على العنف او تخالف الفطرة والشرائع السماوية . 

ممنوع نشر اى مواد بهدف دعائى خارج المجال الثقافى والعلمى. 

من الافضل استخدام اللغة العربية الفصحى او اللغه الانجليزية والابتعاد عن اللغة العامية . 

الرجاء نشر الكتب الخاصة بكم فقط او لديكم حقوق نشر لنشرها والالتزام بحقوق الملكية للكتب 

يتم منع اى شخص يقوم بادخال بيانات عدة مرات بسرعة مثل النشر المتكرر او ارسال عدد كبير من الرسائل والتعليقات يتم منعه لبعض الوقت لحين التأكد من انه ليس برنامج يقوم بالنشر بهدف دعائى. 

هذه البيانات قابلة للتحديث فى اى وقت 

 بتسجيلك فى المكتبة انت توافق على اتفاقية الاستخدام
       </p>
       </div></div>
    <footer>

        <div id="footer">

            <div class="headfooter">
                <div id="ccccccc"></div>

                <h1>World OF Books</h1> <br>
                <h1 style="font-size: 20px;padding-top: 0">CONTACT WITH US</h1>

                <div class="col-xs-12 col-md-12">
                    <form action="process.php" id="contact-form" method="post" class="contact-form">
                        <div class="forming">

                            <div class="form-double">
                                <input type="text" id="form-name" name="form-name" placeholder="Your name" class="form-control" required="required">
                                <input type="email" id="form-email" name="form-email" class="form-control" placeholder="E-mail address" required="required">
                            </div>
                            <input type="text" id="form-subject" name="form-subject" class="form-control" placeholder="Message topic" style="margin-bottom: 20px">
                            <textarea name="message" id="form-message" name="form-message" rows="5" class="form-control" placeholder="Your message" required="required" style="margin-bottom: 20px"></textarea>
                            <button type="sibmit" class="btn btn-warning">Sibmit</button>
                        </div>
                    </form>
                </div>
            </div>


            <div class="imgfoot"></div>


        </div>
    </footer>

    <div class="foooters">
        <h1>Copyright &copy; By Group 13 <i class="fa fa-heart" aria-hidden="true"></i>
            Obour Institutes
        </h1>
    </div>

    <script src="js/java.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>

    <script src="js/bootstrap.min.js"></script>





</body>

</html>
